html,body{
    background: linear-gradient(-45deg, #e8e8e8, #979797, #404040, #000000);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


header{
    background-color: rgb(62, 62, 62);
    padding: 20px;
}

.menu,.menuhome{
    padding: 10px;
    margin: 10px;
}

a {
    box-shadow: inset 0 0 0 0 #a8a8a8;
    color: #a8a8a8;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  a:hover {
    color: #000000;
    box-shadow: inset 200px 0 0 0 #a8a8a8;;
  }
  
  a {
    color: #ffffff;
    font-size: medium;
    line-height: 1.5;
    text-decoration: none;
  }

.menuhome{
    font-size: large;
}

.contener{
    background-color: rgba(255, 255, 255, 0.834);
    padding: 30px;
    text-decoration: none;
    margin: 10px;
}
.content{
    max-width: 600px;
    margin: auto;
}

img {
    width: 100%;

}

.infobt{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
    background-color: rgb(75, 75, 75);
}

.footerken{
    background-color: rgb(111, 111, 111);
    padding: 30px;
    margin: 0;
    text-decoration: none;
    color: white;
}

.heros{
    background-color: rgb(255, 255, 255);
    padding: 50px;
    margin: 0px;
    font-size: larger;
    color: rgb(0, 0, 0);
}

.infoheros{
    font-size: medium;
    color: rgb(0, 0, 0);
}

.herosbutton{
    padding: 10px;
    background-color: rgb(62, 62, 62);
    text-decoration: none;
    color: white;
    margin: 10px;
    display: inline-block;
    
}

.buttonheros{
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.layoutcontenter{
    display: flex;
    flex-wrap: wrap;
}



